<!DOCTYPE html>
<html ng-app="angularjsNodejsTutorial">
    <head>
        <title>Please enter a person login</title>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
        <script src="javascripts/app.js" type="text/javascript"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    </head>
    <body data-spy="scroll" data-target=".scrollspy">
        <header></header>
        <!-- Static navbar-->
        <nav role="navigation" class="navbar navbar-static-top navbar-default">
            <div class="container">
                <div class="navbar-header"><button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand">HW2 - CIS550</a></div>
                <div id="navbar" class="collapse navbar-collapse">
                    <li class="active"><a href="/">Your Work</a></li>
                    <li><a href="/insert">Insert a new record</a></li>
                    <li><a href="/reference">Reference</a></li>
                    <li><a href="/showfriends">Show Friends</a></li>
                    <li><a href="/showfamily">Show Family</a></li>
                </div>
            </div>
        </nav>
         <div class="container">
            <!-- Main component for a primary marketing message or call to action-->
            <div class="jumbotron">
         <div ng-controller="familyDropDownController">
         <select name="login" ng-model="selectedLogin">
            <option value="">Select login</option>
            <option value="">Autonomous Driving</option>
            <option value="">Search Engine</option>
        </select>
        <button type="button" ng-click="ShowFamily()" class="button">Show Family</button>
<!--         </div>
        <div ng-controller="familyButtonController"> -->
        
          <table border="05" cellpadding="10" cellspacing="1" width="500" align="center">
          <tr>
            <td> Company </td>
            <td> patent_id </td>
            <td> title </td> 
            <td> date </td> 
            <td> num_claims </td> 
            <tr ng-repeat="x in data">
            <td> {{x.organization}} </td>
            <td> {{x.patent_id}} </td>
            <td> {{x.title}} </td>
            <td> {{x.date}} </td>
            <td> {{x.num_claims}} </td>
            </tr>
          </tr>  
        </table>
        </div>
    </body>
</html>