<!DOCTYPE html>
<html ng-app="angularjsNodejsTutorial">
    <head>
        <title>BigFish</title>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
        <script src="javascripts/app.js" type="text/javascript"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    </head>
    <body data-spy="scroll" data-target=".scrollspy">
        <header></header>
        <!-- Static navbar-->
        <div class="w3-top">
          <div class="w3-bar w3-white w3-card" id="myNavbar">
            <a ng-href="/" class="w3-bar-item w3-button w3-wide">Home</a>
            <!-- Right-sided navbar links -->
            <div class="w3-right w3-hide-small">
                <div class="w3-dropdown-hover">
                  <div class="w3-dropdown-content w3-bar-block w3-border">
                    <a href="#about" class="w3-bar-item w3-button">Query 1</a>
                    <a href="#about" class="w3-bar-item w3-button">Query 2</a>
                    <a href="#about" class="w3-bar-item w3-button">Query 3</a>
                    <a href="#about" class="w3-bar-item w3-button">Query 4</a>
                    <a href="#about" class="w3-bar-item w3-button">Query 5</a>
                    <a ng-href="/query6" class="w3-bar-item w3-button">Query 6</a>
                    <a ng-href="/query7" class="w3-bar-item w3-button">Query 7</a>
                    <a href="#about" class="w3-bar-item w3-button">Query 8</a>
                  </div>
                </div>
            </div>
            <!-- Hide right-floated links on small screens and replace them with a menu icon -->

            <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
              <i class="fa fa-bars"></i>
            </a>
          </div>
        </div>

         <div class="container">
            <div class="jumbotron">


         <div ng-controller="showQuery7Controller">
        <p>
            <p> Which classes of patents do these companies consistently renew? </p>
            <button type="button" ng-click="ShowResultsA()" class="button">Show Results A</button>
            <p> What are the top
              <select ng-model="orderby" name="orderby">
              <option value="5" selected="selected">5</option>
              <option value="10">10</option>
              <option value="15">15</option>
            </select>
              classes of patents that had the most renewals? </p>

            <button type="button" ng-click="ShowResultsB(orderby)" class="button">Show Results B</button>
        </p>
        <table border="05" cellpadding="10" cellspacing="1" width="700" align="center">
          <tr>
            <th width="100"> {{colHeading}} </th>
            <th> {{colHeading2}} </th>
            <th> {{colHeading3}} </th>
          </tr>
          <tr ng-repeat="x in dataList">
            <td> {{x.id}} </td>
            <td> {{x.description}} </td>
            <td> {{x.count}} </td>
          </tr>
        </table>
        </div>
        </div>
        </div>
    </body>
</html>
